.item {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
}

.item-text {
    margin-right: 20px;
    margin-top: 10px;
}

.btn-change,
.btn-delet {
    margin-right: 20px;
    height: 40px;
    /* vertical-align: middle; */
    top: 0;
}
